@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: purple;
}

body {
  background-color: red;
}